.body1
{
    /* background-image: url('https://t4.ftcdn.net/jpg/04/78/98/77/360_F_478987727_BLVoXe6RzMgHbzxNIlU3Bz2XodQENCvC.jpg'); */
    background-image: url('https://i.pinimg.com/originals/b1/67/e2/b167e2bf540ad37e8b53e42b2c2e37a3.gif');
    background-repeat: no-repeat;
    background-size: 645px;
    background-color: rgb(237, 48, 86);
}
.login
{
    border-radius: 15px;
    border: 10px solid rgb(237, 48, 86);
    border-style:dashed;
    margin-top: 30px;
    margin-left: 700px;
    height: 400px;
    width: 380px;
    text-align: center;
    background-color: lightpink;
}
.login1
{    
    margin-bottom: 10px;
    font-size: 22px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    text-decoration: underline;
}
input
{
    height: 20px;
    border-radius: 5px;
    border: 2px solid black;
    width: 160px;
}
a
{
    text-decoration: none;
}
#uname, #upass
{
    margin-right: 50px;
}